<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :field1 %>
    <%= form.text_area :field1, id: :test_field1 %>
  </div>

  <div class="field">
    <%= form.label :field2 %>
    <%= form.text_area :field2, id: :test_field2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
