<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @test.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @test.field2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
